<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>ADD-HOME</title>
    <link rel="stylesheet" href="output.css"/>
</head>
<body>
    <header>
        <h1>resister your home</h1>
    </header>
    <main>
        <form action="/host/add-home" method="POST">
        <input type="text" name="home-name" placeholder="enter the name of tour home"/>
        <input type="submit"/>
        </form>
    </main>
</body>
</html>